html body section.hero {
    font-family: Raleway, sans-serif;
}

section.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.hero .hero-body h2.title {
    margin-bottom: 1.3em;

    font-size: 3.8em;
    font-family: 'Indie Flower', cursive;
}
section.hero .hero-body p.subtitle {
    margin-bottom: 3em;
    font-size: 1.5em;
}
section.hero aside .mail-invite {
    margin-bottom: 1em;
}

section.hero aside input::placeholder {
    color: #333;
}
section.hero aside button {
    min-width: 9em;
}

section.hero aside.social-links {
    margin-top: 4em;
    text-align: center;
}
section.hero aside.social-links a {
    display: inline-block;
}
section.hero aside.social-links a:not(:first-child) {
    margin-left: 1.4em;
}
